@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

:root {
  --font-family: "Open Sans", Arial, sans-serif;
  --second-family: "Roboto", Arial, sans-serif;
  --third-family: "Oswald", Arial, sans-serif;
  --font3: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #272a33;

  background: #fff;
}

.title {
  font-family: var(--second-family);
  align-self: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn {
  width: fit-content;
  padding: 12px 30px 12px;
  border-radius: 8px;
  background: #272a33;
  font-size: 18px;
  line-height: 145%;
  color: #fff;

  transition: all 0.3s ease;
}
.btn:hover {
  background: #ee753e;
}
.btn:disabled {
  cursor: not-allowed;
  background: #272a33;
  opacity: 0.2;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border: 1px solid #272a33;
  border-radius: 8px;
  padding: 15px;
  width: 50px;
  height: 50px;

  background: transparent;
  cursor: pointer;
}
.burger span {
  width: 23px;
  height: 2px;
  background: #000;
  transition: 0.3s;
}
.burger--active span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}
.burger--active span:nth-child(2) {
  opacity: 0;
}
.burger--active span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}

.header {
  margin: 0 0 80px 0;
}

.header__wrapper {
  position: relative;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 80px;
}

.nav__link {
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #ee753e;
}
.nav--active-mob {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease;
  width: 100%;
  flex-direction: column;
  gap: 0;
  background: #fff;
  z-index: 999;
  padding-bottom: 50px;
}

.equipment__wrapper {
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.equipment__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  flex: 1 1 33%;

  display: flex;
  gap: 30px;
  border: 1px solid #e0e6ed;
  border-radius: 8px;
}
.card__img {
  width: 220px;
  height: 220px;
}
.card__content {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;

  padding: 0 30px 0 0;
}
.card__title {
  min-height: 66px;
  font-family: var(--second-family);
  font-size: 18px;
  line-height: 120%;
}
.card__available {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  line-height: 145%;
}

.card__available-text {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
}

.about {
  padding: 0 0 50px 0;
}

.about__wrapper {
  gap: 30px;
}

.about__block {
  display: flex;
  gap: 30px;
}
.about__images {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 30px;
  align-items: stretch;
}
.about__images > img:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.about__content {
  flex: 1;
  gap: 30px;
}
.about__content-block {
  gap: 20px;
}
.about__text {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  font-weight: 700;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__item {
  display: flex;
  align-items: center;
  justify-content: normal;
  gap: 15px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
}
.about__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.about__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1190px;
  }

  .about__images {
    max-height: 322px;
  }
  .nav_list {
    padding-bottom: 50px;
  }
}

@media (max-width: 1160px) {
  .container {
    max-width: 798px;
  }
  .header__line {
    border-bottom: 1px solid #eaeff4;
  }
  .header,
  .equipment,
  .about {
    margin: 0 0 50px 0;
  }
  .nav__list {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 10px 0 50px 0;
    list-style: none;
    transform: translateY(-120%);
    opacity: 0;
    transition: all 0.3s ease;
    border-top: 1px solid #eaeff4;
    z-index: 5;
  }

  .nav--active-mob {
    opacity: 1;
    transform: translateY(0);
  }
  .nav__item {
    padding: 20px 0;
    border-bottom: 1px solid #d5dfe9;
  }
  .burger {
    display: flex;
  }

  .title {
    font-size: 30px;
    line-height: 135%;
  }

  .equipment__list {
    flex-direction: column;
    gap: 30px;
  }

  .about__block {
    flex-direction: column;
    gap: 30px;
  }

  .about__content-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about__images {
    max-height: 429px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 606px;
  }

  .title {
    font-size: 20px;
    line-height: 135%;
  }

  .about__images {
    max-height: 429px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 390px;
  }
  .nav__list {
    padding-bottom: 0;
  }
  .btn {
    font-size: 16px;
    line-height: 150%;
  }
  .btn--card {
    align-self: center;
  }

  .title {
    line-height: 120%;
  }

  .equipment__wrapper {
    gap: 20px;
  }

  .equipment__list {
    flex-direction: unset;
    gap: 20px;
  }

  .card {
    width: 170px;
    flex: 1 1 33%;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    border-radius: 8px;
  }
  .card__img {
    width: 170px;
    height: 170px;
  }
  .card__content {
    flex: 1;
    gap: 10px;
    justify-content: space-between;

    padding: 0 10px 10px 10px;
  }
  .card__title {
    min-height: none;
    font-size: 16px;
    line-height: 150%;
  }
  .card__available {
    font-style: 14px;
    gap: 10px;
    line-height: 150%;
  }

  .card__available-text {
    align-self: baseline;
    font-size: 13px;
    line-height: 145%;
  }

  .about__wrapper,
  .about__block,
  .about__content-block {
    gap: 20px;
  }
  .about__images {
    gap: 15px;
  }
  .about__list {
    gap: 20px;
  }
}

@media (max-width: 390px) {
  .container {
    max-width: 390px;
  }
  .btn {
    padding: 12px 25px 12px;
  }

  .title {
    font-size: 18px;
    line-height: 135%;
  }

  .card {
    width: 150px;
  }

  .about__text {
    font-size: 15px;
  }
}
